@use "sass:color";
@use "sass:math";
@use "sass:list";
@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/responsive" as *;

#home-container {
  @include flex-column;
  height: 100%;
  width: 100%;

  .home-button-div {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-base;

    .home-button {
      width: 100%;
      font-size: clamp(1rem, 3rem, 2em);
      width: fit-content;
      background-color: $primary-color;
      border: 6px solid $primary-color;
      border-radius: $border-radius-full;
      padding: $spacing-base $spacing-xxl;
      font-family: $font-family-title-1;
      color: $text-light;
      transition: all $transition-base;
      opacity: 0.8;

      &:hover {
        transform: scale(1.05);
        transition: all $transition-base;
        filter: drop-shadow(0 8px 10px $black-alpha-30);

        .rolling-text .letter-wrapper {
          transform: translateY(-100%);
          transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
          transition-delay: var(--delay);
        }
      }
    }

    .contact-button {
      width: 100%;
      font-size: clamp(1rem, 3rem, 2em);
      background-color: transparent;
      border: 6px solid $white;
      // -webkit-filter: blur(2px);
      // filter: blur(2px);

      &:hover {
        // -webkit-filter: blur(0px);
        filter: blur(0) drop-shadow(0 4px 10px $black-alpha-60);
        box-shadow: none;
      }
    }
  }
}

#home-container {
  .name-title-1 {
    position: relative;
    font-family: "Tilt Warp", serif;
    color: $primary-color;
    font-weight: 700;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px rgba(#fff, 00);
  }
}

@include respond-to(desktop) {
  #home-container .name-title-1::after {
    color: $white-alpha-05;
    -webkit-text-stroke: 6px rgba(255, 255, 255, 0.75);

    z-index: 1;
    content: "Asselin";
    position: absolute;
    transform: translateX(-70%) translateY(-10%) rotate(-5deg);
    font-family: $font-family-title-2;
    font-size: clamp(3em, 7vw, 10em);
    margin-bottom: $spacing-xl;
    font-weight: 700;
  }
}

@include respond-to(tablet) {
  #home-container .name-title-1::after {
    color: $white-alpha-05;
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.75);

    z-index: 1;
    content: "Asselin";
    position: absolute;
    transform: translateX(-70%) translateY(-10%) rotate(-5deg);
    font-family: $font-family-title-2;
    font-size: clamp(3em, 7vw, 10em);
    margin-bottom: $spacing-xl;
    font-weight: 700;
  }
}

@include respond-to(mobile) {
  #home-container .name-title-1::after {
    color: $white-alpha-05;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.75) !important;

    z-index: 1;
    content: "Asselin";
    position: absolute;
    transform: translateX(-70%) translateY(-10%) rotate(-5deg);
    font-family: $font-family-title-2;
    font-size: clamp(3em, 7vw, 10em);
    margin-bottom: $spacing-xl;
    font-weight: 700;
  }
}

@include respond-to(xxl) {
  #home-container {
    .name-title-1 {
      font-size: 10em;
    }
  }
}

@include respond-to(xl) {
  #home-container {
    .name-title-1 {
      font-size: 9em;
    }
  }
}

@include respond-to(lg) {
  #home-container {
    .name-title-1 {
      font-size: 8em;
    }
  }
}

@include respond-to(md) {
  #home-container {
    .name-title-1 {
      font-size: 6em;
    }
    .home-button-div .contact-button {
      -webkit-filter: blur(0px);
      filter: blur(0);
    }
  }
}

@include respond-to(sm) {
  #home-container {
    .name-title-1 {
      font-size: 5em;
    }
    .home-button-div .contact-button {
      -webkit-filter: blur(0px);
      filter: blur(0);
    }
  }
}

@include respond-to(xs) {
  #home-container {
    .name-title-1 {
      font-size: 3em;
    }
    .home-button-div button {
      font-size: 1.5em !important;
    }
    .home-button-div .contact-button {
      -webkit-filter: blur(0px);
      filter: blur(0);
    }
  }
}

@include respond-to(xxs) {
  #home-container {
    .name-title-1 {
      font-size: 2.5em;
    }
    .home-button-div button {
      font-size: 1.5em !important;
    }
    .home-button-div .contact-button {
      -webkit-filter: blur(0px);
      filter: blur(0);
    }
  }
}
