@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap&subset=latin,latin-ext");
.project-container {
  margin: 0 auto;
}
.project-container .project-info {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.47);
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
}
.project-container .project-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 70vw;
  margin: 0 auto;
}
.project-container .project-layout .project-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  height: auto;
  grid-row: 1 / span 3;
}
.project-container .project-layout .image-presentation {
  opacity: 0.8;
  cursor: pointer;
}
.project-container .project-layout .image-presentation:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.project-container .project-layout .project-text {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  max-height: calc(100vh - 130px);
}
.project-container .project-layout .project-text .project-title {
  font-size: clamp(2rem, 3.5rem, 5em);
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}
.project-container .project-layout .project-text .project-description {
  position: relative;
  overflow: auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.67);
  text-align: justify;
  transition: height 0.3s ease;
}
.project-container .project-layout .project-text .project-description br {
  margin-bottom: 0.8rem;
}
.project-container .project-layout .project-text .project-description ul {
  margin-left: 20px;
  margin-top: 0.8rem;
}
.project-container .project-layout .project-text .project-description ul li {
  margin-bottom: 0.8rem;
}
.project-container .project-layout .project-text .project-description strong {
  color: #f77851;
}
.project-container .project-layout .project-text .project-tech {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.47);
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.project-container .project-layout .project-text .project-button {
  display: flex;
  justify-content: center;
}
.project-container .project-layout .project-text .project-button .next-button {
  font-size: clamp(1rem, 1.5rem, 2.5em);
  align-self: center;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 6px solid #ffffff;
  border-radius: 500px;
  padding: 0.8rem 4rem;
  font-family: "Tilt Warp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: rgba(255, 255, 255, 0.87);
  transition: all 0.3s ease;
  opacity: 0.8;
}
.project-container
  .project-layout
  .project-text
  .project-button
  .next-button:hover {
  filter: blur(0);
  transform: scale(1.05);
  transition: all 0.3s ease;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
} /*# sourceMappingURL=project.css.map */
