@use "sass:color";
@use "sass:math";
@use "sass:list";
@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/responsive" as *;

@use "project1" as *;
@use "project2" as *;
@use "project3" as *;
@use "project4" as *;
@use "project5" as *;
@use "project6" as *;
@use "project7" as *;
@use "project8" as *;

.page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  max-width: 1500px;
  margin: 0 auto;

  @include respond-to(mobile) {
    padding: 0 $spacing-lg;
    height: 100vh;
  }

  @include respond-to(tablet) {
    padding: 0 $spacing-lg;
    height: 100vh;
  }

  @include respond-to(macbook) {
    align-items: center;
    height: 100vh;
  }

  @include respond-to(desktop) {
    align-items: center;
    height: 100vh;
  }
}

#page-0 {
  height: 100vh;
}

// Projects
.project-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  .project-info {
    font-size: 1.5em;
    color: color.adjust($text-light, $alpha: -0.6);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    text-align: center;
    height: fit-content;
    margin-top: 1em;

    @include respond-to(mobile) {
      font-size: 1.2em;
      margin: $spacing-base 0;
    }
  }

  .project-layout {
    @include responsive-grid(2);
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $primary-color transparent;
    margin-bottom: 0;
    position: relative;
    top: 0;
    max-height: calc(100lvh - 170px);
    align-items: center;

    @include respond-to(macbook) {
      gap: 50px;
    }

    @include respond-to(desktop) {
      gap: 50px;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 10px;
    }

    @include respond-to(mobile) {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include respond-to(tablet) {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .project-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all $transition-base;
      height: auto;
      padding: $spacing-base 0 5px;
      margin: 0 $spacing-base;

      .fade-in-image {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 70vh;
      }
    }

    .image-presentation {
      opacity: 0.8;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: scale(1.05);
        transition: all $transition-base;
      }
    }

    .project-text {
      .project-title {
        font-size: 3em;
        color: $text-light;
        text-align: center;
        margin: $spacing-lg 0;
        line-height: 1;
      }

      .project-description {
        position: relative;
        overflow-y: auto;
        font-size: $font-size-lg;
        color: color.adjust($text-light, $alpha: -0.2);
        text-align: left;
        transition: height 0.3s ease;
        flex-grow: 1;
        padding-right: $spacing-base;
        scrollbar-width: thin;

        @include respond-to(macbook) {
          max-height: calc(100lvh - 410px);
        }

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $primary-color;
          border-radius: 10px;
        }

        hr {
          margin-top: $spacing-base;
          opacity: 0;
        }

        ul {
          margin-left: 20px;
          margin-top: $spacing-base;

          li {
            margin-bottom: $spacing-base;
          }
        }

        strong {
          color: $primary-color;
        }

        .btn-contact-text {
          border: none;
          background-color: transparent;
          color: $primary-color;
          cursor: pointer;
          font-family: $font-family-base;
          font-size: $font-size-lg;
          border-bottom: 2px solid $primary-color;
        }
      }

      .project-tech {
        font-size: $font-size-lg;
        color: color.adjust($text-light, $alpha: -0.4);
        text-align: center;
        width: 80%;
        margin: $spacing-lg auto;
        flex-shrink: 0;

        @include respond-to(mobile) {
          padding-bottom: 45px;
        }

        @include respond-to(tablet) {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@include respond-to(mobile) {
  .project-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-out;
    transform: translateY(200px);
    &.buttons-visible {
      transform: translateY(-34px);
    }

    .project-button {
      gap: $spacing-base;
      display: flex;
      justify-content: center;

      .next-button {
        font-size: 1.5em;
        align-self: center;
        width: fit-content;
        min-width: 40%;
        margin: 0;
        background-color: $primary-color;
        border: none;
        border-radius: 50px;
        padding: 7px 10px;
        font-family: $font-family-title-1;
        color: $text-light;
        transition: none;
        opacity: 0.8;
        filter: none;
        position: relative;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &::before {
          display: none;
        }
      }

      .en-savoir-plus {
        font-size: 1.5em;
        align-self: center;
        width: fit-content;
        min-width: 40%;
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: inset 0 0 0 3.5px $white, 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        padding: 7px 10px;
        font-family: $font-family-title-1;
        color: $text-light;
        transition: none;
        opacity: 0.8;
        filter: none;
        position: relative;
        text-align: center;

        &::before {
          display: none;
        }
      }

      .next-button {
        &::after {
          content: "Suivant >";
        }
      }

      .en-savoir-plus {
        &::after {
          content: "En savoir +";
        }
      }
    }
  }

  .back-to-project-fixed {
    .prev-button {
      -webkit-filter: blur(0px) !important;
      filter: blur(0px) !important;
      opacity: 1 !important;
    }
  }
}

@include respond-to(tablet) {
  .project-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-out;
    transform: translateY(200px);
    &.buttons-visible {
      transform: translateY(-30px);
    }

    .project-button {
      gap: $spacing-base;
      display: flex;
      justify-content: center;

      @include respond-to(mobile) {
        gap: $spacing-base;
      }
      @include respond-to(tablet) {
        gap: 50px;
      }

      .next-button,
      .en-savoir-plus {
        @include respond-to(tablet) {
          min-width: 30% !important;
        }
      }

      .next-button {
        font-size: 1.5em;
        align-self: center;
        width: fit-content;
        min-width: 40%;
        margin: 0;
        background-color: $primary-color;
        border: none;
        border-radius: 50px;
        padding: 7px 10px;
        font-family: $font-family-title-1;
        color: $text-light;
        transition: none;
        opacity: 0.8;
        filter: none;
        position: relative;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &::before {
          display: none;
        }
      }

      .en-savoir-plus {
        font-size: 1.5em;
        align-self: center;
        width: fit-content;
        min-width: 40%;
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: inset 0 0 0 3.5px $white, 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        padding: 7px 10px;
        font-family: $font-family-title-1;
        color: $text-light;
        transition: none;
        opacity: 0.8;
        filter: none;
        position: relative;
        text-align: center;

        &::before {
          display: none;
        }
      }

      .next-button {
        &::after {
          content: "Suivant >";
        }
      }

      .en-savoir-plus {
        &::after {
          content: "En savoir +";
        }
      }
    }
  }

  .back-to-project-fixed {
    .prev-button {
      -webkit-filter: blur(0px) !important;
      filter: blur(0px) !important;
      opacity: 1 !important;
    }
  }
}

@include respond-to(desktop) {
  .project-button-container {
    position: relative;
    z-index: 1000;
    bottom: 50px;

    .project-button {
      display: flex;
      justify-content: center;

      .next-button,
      .en-savoir-plus {
        font-size: clamp(3rem, 5rem, 7em);
        align-self: center;
        width: max-content;
        margin: 0 $spacing-lg;
        background-color: transparent;
        border: none;
        font-family: $font-family-title-1;
        color: $text-light;
        transition: all $transition-base;
        opacity: 0.8;
        -webkit-filter: blur(1px);
        filter: blur(1px);
        position: relative;

        &:hover {
          -webkit-filter: blur(0px);
          filter: blur(0);
          transform: scale(1.05);
          transition: all $transition-base;
          filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
          color: $primary-color;
        }

        &::before {
          font-size: clamp(1.8rem, 2rem, 2.5rem);
          opacity: 0;
          position: absolute;
          left: $spacing-base;
          top: 31px;
          transition: all $transition-base;
          pointer-events: none;
          text-wrap: nowrap;
        }
      }

      .next-button {
        transition: all 0.3s ease, width 0.3s ease;

        &:hover {
          padding: 0 0 0 140px;
        }

        &::before {
          content: "Suivant ";
        }

        &:hover::before {
          opacity: 1;
        }
      }

      .en-savoir-plus {
        transition: all 0.3s ease, width 0.3s ease;

        &:hover {
          padding: 0 0 0 160px;
        }

        &::before {
          content: "En savoir ";
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}

.project-container,
.project-details-container {
  perspective: 1000px;
  backface-visibility: hidden;
  will-change: transform;

  transform-style: preserve-3d;
  transform-origin: center center;
  position: absolute;
  width: 100%;
  height: 100%;

  &.flipping-out {
    animation: flip-out 0.5s forwards;
    z-index: 10;
  }

  &.flipping-in {
    animation: flip-in 0.5s forwards;
    z-index: 5;
  }
}

.project-details-container {
  justify-content: center;
}

.project-flip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100lvh - 65px);
  margin: 0 auto;
  position: relative;
  perspective: 1000px;

  @include respond-to(macbook) {
    height: 100vh;
  }

  @include respond-to(desktop) {
    height: 100vh;
  }
}

@keyframes flip-out {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flip-in {
  0% {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    z-index: 15;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 20;
  }
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond-to(mobile) {
    height: calc(100lvh - 150px);
  }

  @include respond-to(tablet) {
    height: calc(100lvh - 170px);
  }

  @include respond-to(macbook) {
    height: calc(100lvh - 125px);
  }

  @include respond-to(desktop) {
    height: calc(100lvh - 125px);
  }
}

.project-details-scrollable {
  width: fit-content;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $primary-color transparent;
  scroll-behavior: smooth;

  scrollbar-gutter: stable both-edges;

  height: calc(100vh - 40px);

  @include respond-to(mobile) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    height: calc(100vh - 200px);
  }

  @include respond-to(tablet) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    height: 100vh;
  }

  @include respond-to(macbook) {
    margin-top: 20px;
    height: calc(100vh - 200px);
  }

  @include respond-to(desktop) {
    margin-top: 35px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
  }
}

.project-details-content {
  @include respond-to(macbook) {
    max-width: 1000px;
    margin: 0 50px;
  }

  @include respond-to(desktop) {
    margin: 0 100px;
  }
}

.back-to-project-fixed {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-base 0;
  z-index: 1001;
  bottom: 0;
  transform: translateY(-0px);

  @include respond-to(mobile) {
    transform: translateY(-20px);
  }

  @include respond-to(tablet) {
    transform: translateY(-25px);
  }

  @include respond-to(macbook) {
    transform: translateY(-50px);
  }

  @include respond-to(desktop) {
    transform: translateY(-50px);
  }

  .prev-button {
    font-size: clamp(1rem, 1.5rem, 2.5em);
    align-self: center;
    width: fit-content;
    background-color: $primary-color;
    border: 3px solid $primary-color;
    border-radius: $border-radius-full;
    padding: 5px $spacing-lg;
    font-family: $font-family-title-1;
    color: $text-light;
    transition: all $transition-base;
    opacity: 0.6;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));

    &:hover {
      filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
      transform: scale(1.05);
      transition: all $transition-base;
      opacity: 1;
    }
  }
}
