// Remplacer les imports de polices
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap&subset=latin,latin-ext");

// Variables de police
$font-family-base: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-title-1: "Tilt Warp", -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;
$font-family-title-2: "Caveat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;

// Colors
$primary-color: #a92957;
$secondary-color: #ff853e;
$primary-hover: #b4461a;
$background-dark: #242424;
$background-light: #cccccc96;
$text-light: rgba(255, 255, 255, 0.87);
$text-dark: #213547;
$input-bg: #2a2a2a;
$input-border: #727272;
$white: #ffffff;
$black: #000000;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

// Typography
$font-size-sm: 1rem;
$font-size-md: 1rem;
$font-size-lg: 1.1rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3.2em;
$font-size-title: 4rem;

// Spacing
$spacing-small: 0.4rem;
$spacing-base: 0.8rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 4rem;

// Layout
$max-width-container: 70vw;
$max-width-form: 800px;

// Transitions
$transition-base: 0.3s ease;
$transition-fade: 1s ease-in-out;
$transition-fade-mobile: 0.3s ease-out;

// Border radius
$border-radius-base: 5px;
$border-radius-lg: 10px;
$border-radius-xl: 20px;
$border-radius-full: 500px;

// Couleurs des projets

$project1-color: #fff;
$project2-color: #fff;
$project3-color: #fff;
$project4-color: #fff;
$project5-color: #fff;
// $project2-color: #6858e0;
// $project3-color: #3b9cc9;
// $project4-color: #db3742;
// $project5-color: #4b8de2;
