@use "sass:color";
@use "sass:math";
@use "sass:list";
@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: $background-dark;
  color: $text-light;
  padding: $spacing-xl;
  border-radius: $border-radius-lg;
  min-width: 80vw;
  min-height: 70vh;
  max-width: 90%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  animation: modalIn 0.3s forwards;

  .modale-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: $spacing-xl;
  }

  .modale-description {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.6;
    color: color.adjust($text-light, $alpha: -0.2);
    width: 80%;
    margin: 0 auto;
  }

  hr {
    margin: $spacing-xl;
  }

  .modale-section-logos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: $spacing-xxl;
    gap: $spacing-base;

    img {
      width: auto;
      height: 10rem;
    }
  }

  .modale-section-rgpd {
    margin-top: $spacing-xxl;

    p {
      font-size: 0.8rem;
      text-align: center;
      opacity: 0.8;
    }
  }
}

.modal-overlay.closing .modal-content {
  animation: modalOut 0.3s forwards;
}

@keyframes modalIn {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(250px);
    opacity: 0;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  color: $text-light;
  cursor: pointer;
  transition: all $transition-base;

  &:hover {
    transform: rotate(90deg);
    color: $primary-color;
    transition: all $transition-base;
  }
}
