@use "sass:color";
@use "sass:math";
@use "sass:list";
@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.project-dots-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  pointer-events: none;
  z-index: 1000;

  .dot-home,
  .dot-contact {
    transform: scale(1.3);
    position: relative;
    pointer-events: all;
    cursor: pointer;
    margin: 0 8px;
    display: inline-block;
    width: 20px;
    height: 25px;
    color: $white;
    opacity: 0.5;
    transition: all 0.3s ease;
    -webkit-filter: blur(1px);
    filter: blur(1px);

    &:hover {
      opacity: 1;
      transform: scale(1.5);
      -webkit-filter: blur(0.5px);
      filter: blur(0.5px);
    }
  }

  .project-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .dot {
      position: relative;
      pointer-events: all;
      cursor: pointer;
      margin: 0 8px;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $white;
      transition: all $transition-base;
      opacity: 0.5;
      -webkit-filter: blur(1px);
      filter: blur(1px);

      &.active,
      &.active:hover {
        opacity: 1;
        transform: scale(1.5);
        transition: all $transition-base;
        -webkit-filter: blur(0.5px);
        filter: blur(0.5px);
        pointer-events: none;
      }

      &:hover {
        transform: scale(1.3);
        transition: all $transition-base;
        -webkit-filter: blur(0.5px);
        filter: blur(0.5px);
      }
    }
  }
}
