@use "../styles/variables" as *;

.video-player-container {
  position: relative;
  width: 100%;
  height: 375px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.video-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-alpha-20;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.video-poster {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.play-button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-alpha-30;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-poster:hover .play-button-overlay {
  opacity: 1;
}

.play-button {
  background-color: rgba($accent-orange, 0.7);
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(0.9);
}

.play-button:hover {
  transform: scale(1);
  background-color: rgba($accent-orange, 0.9);
}

.hidden {
  display: none;
}
